/*fieldset.css
*/
table.GUIRender_fieldset{
}
.GUIRender_fieldset .legend{
  background-color:#fff;
	padding:0 5px;
	margin-left:5px;
	color:#0080C0;
}
.GUIRender_fieldset .ne, .GUIRender_fieldset .e, .GUIRender_fieldset .se, .GUIRender_fieldset .sw, .GUIRender_fieldset .w, .GUIRender_fieldset .nw{
  font-size:1px;
}
.GUIRender_fieldset .nw{
  width:3px;
	height:16px;
	background:url(../../../img/default/GUIRender/form/fieldset/nw.gif) 1px 8px;
}
.GUIRender_fieldset .ne{
  width:4px;
	background:url(../../../img/default/GUIRender/form/fieldset/ne.gif) 0px 8px;
}
.GUIRender_fieldset .se{
	background:url(../../../img/default/GUIRender/form/fieldset/se.gif) 0px -8px;
}
.GUIRender_fieldset .sw{
	height:16px;
	background:url(../../../img/default/GUIRender/form/fieldset/sw.gif) 1px 0;
}
.GUIRender_fieldset .ne, .GUIRender_fieldset .nw, .GUIRender_fieldset .se, .GUIRender_fieldset .sw{
	background-repeat:no-repeat;
}

.GUIRender_fieldset .n, .GUIRender_fieldset .s{
	background:url(../../../img/default/GUIRender/form/fieldset/border.gif) 50% repeat-x;
}
.GUIRender_fieldset .e, .GUIRender_fieldset .w{
	background:url(../../../img/default/GUIRender/form/fieldset/border.gif) 50% repeat-y;
}
.GUIRender_fieldset .content{
}
