/* nodesMap.css
css for all nodeMap items: maps and nodes;
*/

/* nodesMap.css
css for nodeMap
*/
.NodesMap{
  position:absolute;/* <- position:relative; 17:05 2008-11-27*/
  left:0;
  top:0;
  width:100%; 
  height:100%;
	overflow:auto;
	cursor:default;
}
.NodesMap .dragable{
  cursor:url(../../img/nodeMap/openhand.cur),default;
}
.NodesMap .dragable_draging{
  cursor:url(../../img/nodeMap/closedhand.cur),default;
}
.NodesMap .nodesCtn{
  position:absolute;
	z-index:2;
  left:0;
  top:0;
  width:100%; 
  height:100%;
  overflow:hidden;
	background-repeat:no-repeat;
}
.NodesMap .mapBg{
  position:absolute;
	left:0;
	top:0;
	z-index:1;
}

/* iconNode.css
css for nodeMap. iconNode
*/
.iconNode{
  position:absolute;
  left:0;
  top:0;
  width:50px;
  text-align:center;
  z-index:11;
}
.iconNode_normal .icon{
  cursor:default;
}
.iconNode_normal .title{
  width:100%;
  height:16px;
  line-height:16px;
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
  -o-text-overflow:ellipsis;
	cursor:default;
}
.iconNode_focused .title{
  height:auto;
  line-height:inherit;
	overflow:auto;
  white-space:normal;
	cursor:text;
  border:dotted 1px #666 !important;
  border:dotted 1px #999;
}
.iconNode_selected .title{
  background-color:#316AC5;
  color:#FFF;
}
/* linkNode.css
css for nodeMap. linkNode
*/

v\:*{ behavior:url(#default#VML); }
.linkNode{
  position:absolute;
  left:0;
  top:0;
	cursor:default;
  z-index:10;
}

