/* gui_all */

/* button.css */
.gui_btn_wrap{
  overflow:hidden;
	cursor:default;
  -moz-user-select:none ;/*for ff*/
}
.gui_btn_pos_wrap{
	height:100%;
  overflow:hidden;/*in ie6, if child's position is relative or absolute, it wont inherit parent'overflow if parent's position is auto*/
  position:relative;
	padding:0 5px;
}
.gui_btn_left{
  position:absolute;
  left:0px;
	top:0px;
  height:100%;
  width:5px;
	background-repeat:no-repeat;
}
.gui_btn_left_img{
  background-image:url(../../img/default/gui/button/btn_bg_left.gif);
}
.gui_btn_right{
  position:absolute;
  right:0px;
	top:0px;
  height:100%;
  width:5px;
	background-repeat:no-repeat;
}
.gui_btn_right_img{
  background-image:url(../../img/default/gui/button/btn_bg_right.gif);
}
.gui_btn_icon{
  position:absolute;
  left:5px;
  width:16px;
  height:100%;
	background:center no-repeat;
}
.gui_btn_close_icon{/* ?url */
  position:absolute;
  right:7px;
  width:8px;
	height:100%;
	background: url(../../img/default/gui/bar/icon_close.gif) 0% 60% no-repeat;
}
.gui_btn_split_menuitem{
  position:absolute;
  right:5px;
  width:8px;
	height:100%;
}
.gui_btn_split_menuitem_img{/* ?url */
	background:url(../../img/default/gui/button/btn_arrow_right.gif) center no-repeat;
}

.gui_btn_text_wrap{
  height:100%;
	background-repeat:repeat-x;
}
.gui_btn_text_wrap_img{/*btn middle part bg*/
  background-image:url(../../img/default/gui/button/btn_bg_middle.gif);
}
.gui_btn_text{
  width:100%;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}
/*active tab style
*/
.gui_activetab_left_img{
  background-image:url(../../img/default/gui/button/btn_bg_middle.gif);
}
.gui_activetab_text_wrap_img{
  background-image:url(../../img/default/gui/button/btn_bg_middle.gif);
}
.gui_activetab_right_img{
  background-image:url(../../img/default/gui/button/btn_bg_middle.gif);
}

.sys_button_left_img{
  background-image:url(../../img/default/gui/button/system/btn_bg_left.gif);
	background-position:0 24px;
}
.sys_button_text_wrap_img{
  background-image:url(../../img/default/gui/button/system/btn_bg_middle.gif);
	background-position:0 24px;
}
.sys_button_right_img{
  background-image:url(../../img/default/gui/button/system/btn_bg_right.gif);
	background-position:0 24px;
}

/* iconbuutton.css*/
.gui_iconbtn_wrap{
	text-align:center;
	font-weight:bold;
	overflow:hidden;
	cursor:default;
	background-repeat:repeat-x;
}
.gui_iconbtn_split{
  float:right; 
	width:14px;
	height:100%;
}
.gui_iconbtn_split_img{
  background:url(../../img/default/gui/bar/arrow_down_split.gif) center no-repeat;  
}
.gui_iconbtn_icon{
  height:100%;
  text-align:center;
	background:center 30% no-repeat;/*
	background-repeat:no-repeat;
	background-position:50% 40% ;
	background-position:50% 15%;for ie6: backgourd-position is relative to lineHeight*/
}

.gui_iconbtn_text{
  overflow:hidden;
	height:100%;
}

/*bar*/
.gui_toolbar_wrap{
	cursor:default;
  -moz-user-select:none ;/*for ff*/
}
.gui_toolbar_pos_wrap{
  position:relative;
	left:0px;
	top:0px;
  overflow:hidden;
	height:100%;
	width:auto;
}
.gui_toolbar_item_container{
  position:absolute;
}
.gui_toolbar_arrow_left{/*for test*/
  position:absolute;
  right:15px;
	top:0px;
}
.gui_toolbar_arrow_left_img{
  background-image:url(../../img/default/gui/bar/arrow_left.gif);
}
.gui_toolbar_arrow_right{/*for test*/
  position:absolute;
  right:0px;
	top:0px;
}
.gui_toolbar_arrow_right_img{
  background-image:url(../../img/default/gui/bar/arrow_right.gif);
}
/*vtoolbarbase*/
.gui_vtoolbarbase_wrap{
}
.gui_vtoolbarbase_item_normal{
  border:none;
	margin:auto;
	background:none;
	text-align:center;
	padding:1px;
}
.gui_vtoolbarbase_item_OMO{
  border:solid 1px #00CCFF;
	background-color:#DFEFFF;
	padding:0px;
}


/*horizontalmenu*/
.gui_horizontalmenu_wrap{
	cursor:default;
  -moz-user-select:none ;/*for ff*/
	width:auto;
	overflow:hidden;/*for ff*/
	height:60px;
}
.gui_horizontalmenu_pos_wrap{
  position:relative;
	left:0px;
	top:0px;
	height:100%;/*heigth is important for not IE browser*/
	width:auto;
	overflow:hidden;
	padding-right:50px;/*for arrows*/
}
.gui_horizontalmenu_bar_wrap{
  width:100%;
	height:100%;
	color:#D7F2FF;
}
.gui_horizontalmenu_arrow_left, .gui_horizontalmenu_arrow_right{
  position:absolute;
	bottom:3px;
}
.gui_horizontalmenu_arrow_left{
  right:22px;/* arrow_left_16 width is 16px*/
  background-image:url(../../img/default/gui/bar/arrow_left_16.gif);
}
.gui_horizontalmenu_arrow_right{
  right:5px;
  background-image:url(../../img/default/gui/bar/arrow_right_16.gif);
}
/*verticalmenu*/
.gui_verticalmenu_wrap{
	cursor:default;
  -moz-user-select:none ;/*for ff*/
}
.gui_verticalmenu_pos_wrap{
  position:relative;
	left:0px;
	top:0px;
	background-color:#EEF7FF;/* must be same as gui_accordionmenu_wrap. */
}
.gui_verticalmenu_bar_wrap{/* ? */
}
.gui_verticalmenu_head{
  height:25px;
	border:solid 1px #76ABD3;
	color:#F0F8FF;
	border-left:none;
	border-right:none;
	background: repeat-x url(../../img/default/gui/bar/accordionmenu_head_bg.gif);
}
.gui_verticalmenu_arrow_up, .gui_verticalmenu_arrow_down{
  position:absolute;
  right:10px;
}
.gui_verticalmenu_arrow_up{
	top:5px;
  background-image:url(../../img/default/gui/bar/arrow_up.gif);
}
.gui_verticalmenu_arrow_down{
  background-image:url(../../img/default/gui/bar/arrow_down.gif);
	bottom:5px !important;
	bottom:30px;/*fix ie6: this value = gui_verticalmenu_head.height(25px) + this.bottom(5px)*/
}

/*accordionmenu.css*/
.gui_accordionmenu_wrap{
	overflow:hidden;
	background-color:#EEF7FF;/* must be same as gui_verticalmenu_pos_wrap */
	border:solid 1px #666;
}
.gui_accordionmenu_pos_wrap{
  position:relative;
	left:0;
	top:0;
	width:100%;
	height:100%;
	overflow:hidden;
}
.gui_accordionmenu_bar_wrap{/* ? */
  position:absolute;
	top:0;
	left:0;
  width:100%;
	height:100%;
}
/* popupMenu.css 
for popupMenu;
*/
.gui_popupMenu{
	position:absolute;
	z-index:10000;
	left:0; 
	top:0;
	background:#fff url(../../img/default/gui/popupMenu/menu_bg.gif) repeat-y;
	border:solid 1px #666;
	padding:1px;
	cursor:default;
	-moz-user-select:none ;/*for ff*/
}
.gui_popupMenu .sep{
	border-top:solid 1px #999;
	margin:3px 0 3px 31px;
}
/*panel*/
.gui_panelbody_wrap{
  position:relative;
  width:auto;
	overflow:hidden;
}
.gui_panelbody_item{
  position:absolute;
	z-index:0;
  width:100%;
	height:100%;
}
.gui_tabpanel_wrap{
  width:auto;
	overflow:hidden !important;
	border:solid 1px #666;
	height:100%;
	border-top:none;
	background-color:#FFF;
}
.gui_accordionmenuitem_wrap{
  width:auto;
	overflow:hidden !important;
	border:solid 1px #666;
	border-top:none;
}

/*tabbarmgr*/
.gui_tabbarmgr_wrap{
	cursor:default;
  -moz-user-select:none ;/*for ff*/
	height:32px;
	background-image:url(../../img/default/gui/bar/tabbar_bg.gif);
}
.gui_tabbarmgr_pos_wrap{
  position:relative;
	left:0px;
	top:0px;
	padding-right:85px;
}
.gui_tabbarmgr_bar_wrap{
}
.gui_tabbarmgr_arrow_left, .gui_tabbarmgr_arrow_right{
  position:absolute;
	top:10px;
}
.gui_tabbarmgr_arrow_left{
  right:62px;/*arrow_left.gif width is 14px */
  background-image:url(../../img/default/gui/bar/arrow_left.gif);
}
.gui_tabbarmgr_arrow_right{
  right:45px;
  background-image:url(../../img/default/gui/bar/arrow_right.gif);
}
.gui_tabbarmgr_maximize_icon, .gui_tabbarmgr_closetab_icon{
	position:absolute;
	right:5px;
	top:9px;
}
.gui_tabbarmgr_maximize_icon{
	right:25px;
}
/* window.css
*/
.gui_wnd{
  position:absolute;
  left:0;
  top:0;
  table-layout:fixed;
}
.gui_wnd .head{
  cursor:default;
}
.gui_wnd .titleBar{
  background: 0 bottom url(../../img/default/gui/window/n.gif);
  position:relative;
  left:0;
  top:0;
  height:23px; 
  -moz-user-select:none ;
}
.gui_wnd .title{
  position:absolute;
  top:0;
  left:20px;
  background-position:3px;
  height:23px; 
  line-height:23px;
  width:100px;
  color:#FFF;
  font-weight:bold;
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
  -o-text-overflow:ellipsis;
}
.gui_wnd .icon{
  position:absolute;
  top:3px;
  left:2px;
  width:16px;
  height:16px;
  background:url(../../img/default/gui/button/system/sv_logo.gif) no-repeat;
}
.gui_wnd .biSystemMenu{
  position:absolute;
  right:-1px;
  top:-3px;
  height:18px;
  width:95px;
}
.biSystemMenu .biLeft, 
.biSystemMenu .biMinimize,
.biSystemMenu .biMaximize, 
.biSystemMenu .biClose{
  height:100%;
  float:right;
}
.biSystemMenu .biLeft{
  background:url(../../img/default/gui/window/bi.gif) no-repeat;
  width:4px;
}
.biSystemMenu .biMinimize{
  background:url(../../img/default/gui/window/bi.gif) -4px 0 no-repeat;
  width:23px;
}
.biSystemMenu .biMaximize{
  background:url(../../img/default/gui/window/bi.gif) -27px 0 no-repeat;
  width:26px;
}
.biSystemMenu .biMinimize_reset{
  background-position: -56px 0;
}
.biSystemMenu .biMaximize_reset{
  background-position: -53px 0;
}
.biSystemMenu .biClose{
  background:url(../../img/default/gui/window/bi.gif) no-repeat;
  background-position:-79px 0;
  width:42px;
}
.gui_wnd .nw, 
.gui_wnd .n,
.gui_wnd .ne, 
.gui_wnd .e, 
.gui_wnd .se, 
.gui_wnd .s, 
.gui_wnd .sw, 
.gui_wnd .w{
  font-size:1px;
  overflow:hidden;
}
.gui_wnd .nw{
  background-image:url(../../img/default/gui/window/nw.gif);
  width:3px;
  height:3px;
  cursor:nw-resize;
}
.gui_wnd .n{
  background-image: url(../../img/default/gui/window/n.gif);
  cursor:n-resize;
}
.gui_wnd .ne{
  background-image: url(../../img/default/gui/window/ne.gif);
  width:3px;
  cursor:ne-resize;
}
.gui_wnd .e{
  background-image: url(../../img/default/gui/window/e.gif);
  cursor:e-resize;
}
.gui_wnd .se{
  background-image: url(../../img/default/gui/window/se.gif);
  cursor:se-resize;
}
.gui_wnd .s{
  background-image: url(../../img/default/gui/window/s.gif);
  cursor:s-resize;
}
.gui_wnd .sw{
  background-image: url(../../img/default/gui/window/sw.gif);
  height:3px;
  cursor:sw-resize;
}
.gui_wnd .w{
  background-image: url(../../img/default/gui/window/w.gif);
  cursor:w-resize;
}
.gui_wnd .body{
  width:100%;
}
.gui_wnd .center{
  background-color:#FFFFFF;
}
/* textMonitor.css
for textMonitor, toolTip, hint and so on.
*/
.gui_textMonitor_wrap{
  position:absolute;
	z-index:2;
	left:0;
	top:0;
	display:none;
	width:auto;
	border:solid 1px #333;
	background-color:#FFFFE1;
	cursor:default;
	white-space:nowrap;
}
/* splitPanle.css */

.html, .body{
 width:100%;
 height:100%;
 overflow:hidden;
}
.gui_splitPanel_tb{
  overflow:auto;
  width:100%;
}
.gui_splitPanel_lr{
  overflow:auto;
  float:left;
	clear:none;
  height:100%;
}
.gui_splitPanel_tb_sb{
  width:100%;
	height:5px;
	font-size:1px;
	overflow:hidden;
	cursor:n-resize;
}
.gui_splitPanel_lr_sb{
  float:left;
	clear:none;
  height:100%;
	width:5px;
	font-size:1px;
	overflow:hidden;
	cursor:e-resize;
}
.gui_splitPanel_tb_sb .tg{
	background:url(../../img/default/gui/layout/h_separator.gif)  no-repeat center;
	cursor:pointer;
	position:relative;
	width:32px;
	height:100%;
	left:45%;
}
.gui_splitPanel_tb_sb .tgWrap, .gui_splitPanel_lr_sb .tgWrap{
  position:relative;
	left:0;
	top:0;
	width:100%;
	height:100%;
	overflow:hidden;
}
.gui_splitPanel_lr_sb .tg{
	background:url(../../img/default/gui/layout/v_separator.gif) no-repeat center;
	cursor:pointer;
	position:relative;
	width:100%;
	height:32px;
	top:45%;
}
/* collapsablePanel.css */

.gui_collapsablePanel{
  border:solid 1px #7F9DB9;
}
.gui_collapsablePanel .header{
  overflow:hidden;
  position:relative;
	height:20px;
	width:100%;
	background-color:#C6D5FD;
}
.gui_collapsablePanel .headerBg{
	background:url(../../img/default/gui/panel/collaspe_headBg.gif);
}
.gui_collapsablePanel .content{
	border-top:solid 1px #7F9DB9;
  /*padding:5px;*/
	overflow:auto;
}
.gui_collapsablePanel .title{
  overflow:hidden;
	width:100%;
	height:20px;
	line-height:20px;
	padding-left:5px;
	font-weight:bold;
	color:#006699;
  text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
  white-space:nowrap;
}
.gui_collapsablePanel .collaspeIconMask{
	position:absolute;
	right:0;
	top:0;
  width:25px;
	height:100%;
	text-align:center;
}
.gui_collapsablePanel .collapseIcon{
	position:relative;
	left:6px;
	*left:4px;/*ie*/
	top:2px;
	width:16px;
	height:16px;
  cursor:pointer;
}
.gui_collapsablePanel .expanded{
	background: url(../../img/default/gui/panel/collaspe_up.gif) no-repeat center;
}
.gui_collapsablePanel .collapsed{
	background:url(../../img/default/gui/panel/collaspe_down.gif) no-repeat center;
}

/* tree.css
*/
ul.gui_tree{
  cursor:default;
}
.gui_tree input{
  border:none;
  width:16px;
  height:16px;
  margin:0;
  padding:0;
}
.gui_tree li{
  padding:1px 0;
  list-style:none;
  width:100% ;
  white-space:nowrap;
}
.gui_tree .collapsed{
  background: no-repeat url(../../img/default/gui/tree/closed.gif);
}
.gui_tree .blank{
  background:none;
}
.gui_tree .expanded{
  background: no-repeat url(../../img/default/gui/tree/opened.gif);
}
.gui_tree .contentCtn{
  height:18px;
  line-height:16px;
  margin-left:16px;
  background-repeat:no-repeat;
  cursor:pointer;
}
.gui_tree .textCtn{
  margin-left:5px;
}
.gui_tree .childNodesCtn{
  padding-left:16px;
  display:none;
  width:auto !important;
  width:100%;
}
.gui_tree .focused{
  color:#FFF;
  background-color:#316AC5;
}
.gui_tree .disabled{
  color:gray;/*#CAC8BB*/
	cursor:default !important;
}
/* chartBar.css
*/
.gui_chartBar{
  height:10px;
	overflow:hidden;
	font-size:1px;
	border:solid 1px #000000;
	position:relative;
	top:2px;
}
.gui_chartBar table{
  width:100%;
	height:100%;
	table-layout:fixed;
}
/* progressbar.css
*/
.gui_progressbar{
	height:13px;
	overflow:hidden;/*for ff && opera*/
}
.gui_progressbar .main{
	overflow:hidden;
	width:inherit;
	height:11px;
	border:solid 1px #7AF5FB;/*Note : here, border color is different from normal version in progressbar.css */
	background:0 -1px url(../../img/default/gui/bar/progressbar_wrap.gif);
}
.gui_progressbar .pro{
	width:1px;
	height:100%;
	font-size:1px;
	background-image:url(../../img/default/gui/bar/progressbar_inner.gif);
}
.gui_progressbar .text{
	float:right;
	width:30px;
}