/* popupMenu.css 
for popupMenu;
*/
.gui_popupMenu{
	position:absolute;
	z-index:10000;
	left:0; 
	top:0;
	background:#fff url(../../img/default/gui/popupMenu/menu_bg.gif) repeat-y;
	border:solid 1px #666;
	padding:1px;
	cursor:default;
	-moz-user-select:none ;/*for ff*/
}
.gui_popupMenu .sep{
	border-top:solid 1px #999;
	margin:3px 0 3px 31px;
}