/* progressbar.css
*/
.gui_progressbar{
	height:13px;
	overflow:hidden;/*for ff && opera*/
}
.gui_progressbar .main{
	overflow:hidden;
	width:inherit;
	height:11px;
	border:solid 1px #AEC3DE;
	background:0 -1px url(../../img/default/gui/bar/progressbar_wrap.gif);
}
.gui_progressbar .pro{
	width:1px;
	height:100%;
	font-size:1px;
	background-image:url(../../img/default/gui/bar/progressbar_inner.gif);
}
.gui_progressbar .text{
	float:right;
	width:30px;
}
