/* CSS Document */

.gui_tabbarmgr_wrap{
	cursor:default;
  -moz-user-select:none ;/*for ff*/
	height:32px;
	background-image:url(../../img/default/gui/bar/tabbar_bg.gif);
}
.gui_tabbarmgr_pos_wrap{
  position:relative;
	left:0px;
	top:0px;
	padding-right:60px;
}
.gui_tabbarmgr_bar_wrap{
}
.gui_tabbarmgr_arrow_left, .gui_tabbarmgr_arrow_right{
  position:absolute;
	top:10px;
}
.gui_tabbarmgr_arrow_left{
  right:40px;/*arrow_left.gif width is 14px */
  background-image:url(../../img/default/gui/bar/arrow_left.gif);
}
.gui_tabbarmgr_arrow_right{
  right:25px;
  background-image:url(../../img/default/gui/bar/arrow_right.gif);
}
.gui_tabbarmgr_maximize_icon{
	position:absolute;
	right:3px;
	top:9px;
}