/* textMonitor.css
for textMonitor, toolTip, hint and so on.
*/
.gui_textMonitor_wrap{
  position:absolute;
	z-index:2;
	left:0;
	top:0;
	display:none;
	width:auto;
	border:solid 1px #333;
	background-color:#FFFFE1;
	cursor:default;
	white-space:nowrap;
}