/* CSS Document */
.gui_vtoolbarbase_wrap{
}
.gui_vtoolbarbase_item_normal{
  border:none;
	margin:auto;
	background:none;
	text-align:center;
	padding:1px;
}
.gui_vtoolbarbase_item_OMO{
  border:solid 1px #00CCFF;
	background-color:#DFEFFF;
	padding:0px;
}

