/*
ui window css
*/
/*window wrapper*/
.win {position:absolute;overflow:hidden;padding:0px;-moz-user-select:none;}
/*title part
> tie -- title wrapper
> wicon-- icon 
> wtt -- title container 
> wttxt -- title text 
> wbtnWrap -- btn container
> wmin -- minimize btn 
> wmax -- maximize btn 
> wclo -- close btn 
*/
.tie {overflow:hidden;height:30px;width:100%;cursor:default;}
.wicon{position:absolute;overflow:hidden; left:15px;top:12px;width:16px; height:16px;}
.wtt{position:relative;left:0px;top:8px;height:23px;overflow: hidden;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='tt.png',sizingMethod=scale);background:right url(../../../../../../js/common/loas/app/resource/gui/win/default/ttt.png)!important;background:;cursor:default;}
.wttxt{position:absolute; left:20px;height:28px; line-height:28px;overflow:hidden; font-weight:bold; text-overflow:ellipsis; white-space:nowrap;}
.wbtnWrap{position:absolute;overflow:hidden;height:17px;top:8px;/* for ff */*top:7px;/* for ie */cursor:default; width:100px;right:15px;font-weight:bold;}
.wmin,.wmax,.wclo{position:absolute;background:url(c.gif);overflow:hidden;height:17px;top:0px;/* for ff */*top:0px;/* for ie */cursor:default;}
.wmin {width:26px;right:65px;}
.wmax { background-position:-26px;width:22px;right:43px;}
.wclo { background-position:-48px;width:43px;right:0px;}
/*window body,bottom part*/
.boy {overflow:hidden;width:100%}
.bom {overflow:hidden;height:30px;width:100%;}
/*unfocus window*/
.wUnFocus{filter:alpha(Opacity=80,style=0);opacity:0.8;}
/*disabled button*/
.btnDisable{filter:alpha(Opacity=60,style=0);opacity:0.6;}
