@CHARSET "UTF-8";
.toolbar {
    /* 
    background: url("image/icon/toolbar_bg.jpg") repeat-x scroll 0 0 #99B5DD;
    border: 1px solid #808FB8;
    */
    height: 24px;
    line-height: 24px;
    padding : 0 0 5px 0;
}
