<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	
	<listener>
		<listener-class>com.gm.gmview.framework.config.ConfigListener</listener-class>
	</listener>

	<!-- 初始化 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<!-- 如果有多个文件，在文件之间用英文逗号隔开 -->
		<!--
			<param-value>/WEB-INF/applicationContext.xml,/WEB-INF/applicationContext-db.xml
			</param-value>
		-->
		<param-value>/WEB-INF/spring-configs/applicationContext.xml</param-value>
	</context-param>
	<!-- 监听器 -->
	<!-- 配置spring监听器 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- 定义struts2的核心filter -->
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>com.gm.gmview.framework.config.StrutsFilterDispatcher</filter-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>struts-default.xml,struts-plugin.xml,../struts-configs/struts.xml </param-value>
		</init-param>
	</filter>

	<!-- 让struts定义的核心filter拦截所有请求 -->
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- 项目欢迎界面 -->
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
