/* CSS Document */

.gui_accordionmenu_wrap{
	overflow:hidden;
	background-color:#EEF7FF;/* must be same as gui_verticalmenu_pos_wrap */
	border:solid 1px #666;
}
.gui_accordionmenu_pos_wrap{
  position:relative;
	left:0;
	top:0;
	width:100%;
	height:100%;
	overflow:hidden;
}
.gui_accordionmenu_bar_wrap{/* ? */
  position:absolute;
	top:0;
	left:0;
  width:100%;
	height:100%;
}
