/* collapsablePanel.css */

.gui_collapsablePanel{
  border:solid 1px #7F9DB9;
}
.gui_collapsablePanel .header{
  overflow:hidden;
  position:relative;
	height:20px;
	width:100%;
	background-color:#C6D5FD;
}
.gui_collapsablePanel .headerBg{
	background:url(../../img/default/gui/panel/collaspe_headBg.gif);
}
.gui_collapsablePanel .content{
	border-top:solid 1px #7F9DB9;
  /*padding:5px;*/
	overflow:auto;
}
.gui_collapsablePanel .title{
  overflow:hidden;
	width:100%;
	height:20px;
	line-height:20px;
	padding-left:5px;
	font-weight:bold;
	color:#006699;
  text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
  white-space:nowrap;
}
.gui_collapsablePanel .collaspeIconMask{
	position:absolute;
	right:0;
	top:0;
  width:25px;
	height:100%;
	text-align:center;
}
.gui_collapsablePanel .collapseIcon{
	position:relative;
	left:6px;
	*left:4px;/*ie*/
	top:2px;
	width:16px;
	height:16px;
  cursor:pointer;
}
.gui_collapsablePanel .expanded{
	background: url(../../img/default/gui/panel/collaspe_up.gif) no-repeat center;
}
.gui_collapsablePanel .collapsed{
	background:url(../../img/default/gui/panel/collaspe_down.gif) no-repeat center;
}
