/* CSS Document */

.gui_horizontalmenu_wrap{
	cursor:default;
  -moz-user-select:none ;/*for ff*/
	width:auto;
	overflow:hidden;/*for ff*/
	height:60px;
}
.gui_horizontalmenu_pos_wrap{
  position:relative;
	left:0px;
	top:0px;
	height:100%;/*heigth is important for not IE browser*/
	width:auto;
	overflow:hidden;
	padding-right:50px;/*for arrows*/
}
.gui_horizontalmenu_bar_wrap{
  width:100%;
	height:100%;
	color:#D7F2FF;
}
.gui_horizontalmenu_arrow_left, .gui_horizontalmenu_arrow_right{
  position:absolute;
	bottom:3px;
}
.gui_horizontalmenu_arrow_left{
  right:22px;/* arrow_left_16 width is 16px*/
  background-image:url(../../img/default/gui/bar/arrow_left_16.gif);
}
.gui_horizontalmenu_arrow_right{
  right:5px;
  background-image:url(../../img/default/gui/bar/arrow_right_16.gif);
}
