/* 
iconbuutton.css

*/
.gui_iconbtn_wrap{
	text-align:center;
	font-weight:bold;
	overflow:hidden;
	cursor:default;
	background-repeat:repeat-x;
}
.gui_iconbtn_split{
  float:right; 
	width:14px;
	height:100%;
}
.gui_iconbtn_split_img{
  background:url(../../img/default/gui/bar/arrow_down_split.gif) center no-repeat;  
}
.gui_iconbtn_icon{
  height:100%;
  text-align:center;
	background:center 30% no-repeat;/*
	background-repeat:no-repeat;
	background-position:50% 40% ;
	background-position:50% 15%;for ie6: backgourd-position is relative to lineHeight*/
}

.gui_iconbtn_text{
  overflow:hidden;
	height:100%;
}
