.vTabPanel_wrap a {
	position: relative;/*fix ie6 AlphaImageLoader filter bug*/
}
.vTabPanel_wrap{
  width:100%;
	height:auto !important;
	height:340px;
	min-height:340px;
	float:left;
	background:#DFEEF5 no-repeat url(../../img/default/gui/panel/bg_vTabPanel_content.png) !important;
	background:#DFEEF5;
}
.vTabPanel_navlist{
	float:left;
	width:190px;
	padding-top:30px;
}
.vTabPanel_navlist li{
	width:190;
	height:30px;
	line-height:30px;
	padding-right:30px;
	list-style:none;
	text-align:right;
	cursor:pointer;
}
.vTabPanel_navlist .focus{
	background:url(../../img/default/gui/panel/bg_vTabPanel_navlist_focus.png) no-repeat;
	font-weight:bold;
	color:#006B2A;
}
.vTabPanel_content{
	float:left;
	width:400px;
	margin-top:30px;
	margin-left:20px;
}
