<?xml version="1.0" encoding="UTF-8"?>     
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">     
       
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>           
   <appender name="console" class="org.apache.log4j.ConsoleAppender">     
      <layout class="org.apache.log4j.PatternLayout">     
           <param name="ConversionPattern" value="%-5p: [%d{yyyy-MM-dd HH:mm:ss}] [%t] %c{1\}:%L - %m%n" />     
      </layout>
      <!--过滤器设置输出的级别-->     
      <filter class="org.apache.log4j.varia.LevelRangeFilter">     
           <param name="levelMin" value="debug" />     
           <param name="levelMax" value="warn" />     
           <param name="AcceptOnMatch" value="true" />     
      </filter>
    </appender>
    <appender name="logfile" class="org.apache.log4j.RollingFileAppender">        
        <param name="File" value="${webapp.root}/WEB-INF/log/log4j.log" /><!-- 设置日志输出文件名 -->     
        <!-- 设置是否在重新启动服务时，在原有日志的基础添加新日志 -->     
        <param name="Append" value="true" />     
        <param name="MaxBackupIndex" value="10" />     
        <layout class="org.apache.log4j.PatternLayout">     
            <param name="ConversionPattern" value="%-5p: [%d{yyyy-MM-dd HH:mm:ss}] [%t] (%c:%L) - %m%n" />     
        </layout>
    </appender>
     
    <logger name="org.springframework" additivity="false">
    	<level value = "ERROR"/>
    	<appender-ref ref="console"/>
    </logger>
    <logger name="org.hibernate" additivity="false">
    	<level value = "INFO"/>
    	<appender-ref ref="console"/>
    </logger>
    <logger name="com.opensymphony.xwork2" additivity="false">
    	<level value = "ERROR"/>
    	<appender-ref ref="console"/>
    </logger>
    <logger name="org.apache.struts2" additivity="false">
    	<level value = "ERROR"/>
    	<appender-ref ref="console"/>
    </logger>
    
    <!-- 根logger的设置-->     
    <root>
        <priority value ="INFO"/>     
        <appender-ref ref="console"/>
        <appender-ref ref="logfile"/>        
    </root>     
</log4j:configuration> 