.GUIRender_vnp_wrap a {
	position: relative;/*fix ie6 AlphaImageLoader filter bug*/
}
.GUIRender_vnp_wrap{
  width:100%;
	height:auto !important;
	height:340px;
	min-height:340px;
	float:left;
	background:no-repeat url(../../img/default/GUIRender/panel/vnp/bg_vnp_content.png)!important;
	background:;
}
.GUIRender_vnp_navlist{
	float:left;
	width:190px;
	padding-top:30px;
}
.GUIRender_vnp_navlist li{
	width:190;
	height:30px;
	line-height:30px;
	padding-right:30px;
	list-style:none;
	text-align:right;
	cursor:pointer;
}
.GUIRender_vnp_navlist .focus{
	background:url(../../img/default/GUIRender/panel/vnp/bg_vnp_navlist_focus.png) no-repeat !important;
	background:;
	font-weight:bold;
	color:#006B2A;
}
.GUIRender_vnp_content{
	float:left;
	width:400px;
	margin-top:30px;
	margin-left:20px;
}
